[submodule "st/source"]
	path = st/source
	url = git://git.suckless.org/st
[submodule "dwm/source"]
	path = dwm/source
	url = git://git.suckless.org/dwm
[submodule "dmenu/source"]
	path = dmenu/source
	url = git://git.suckless.org/dmenu
